[package]
name = "aoc2025"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "aoc"
path = "src/main.rs"

[dependencies]
dhat = { version = "0.3", optional = true }

[features]
default = []
dhat = ["dep:dhat"]
